.modal-footer {
  border-top: 0px solid #e5e5e5;
}
.operation {
  float: left;
  margin-right: 0.4%
}
.container {
  margin: auto;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
table,th,td{
  border:1px solid black;
}
.but{
  border: #e5e5e5 0px;
}